@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Poppins:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lilita+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.h-screen {
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

*,
*::before,
*::after {
  margin: 0;
  font-family: "Poppins", "sans-serif";
}

body.dark {
  background-color: black;
}

body {
  background-color: white;
}

pre {
  display: block;
  /* font-family: monospace; */
  white-space: pre;
  /* margin: 1em 0px; */
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}
