@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Inter:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.h-screen {
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

*,
*::before,
*::after {
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #0a0a0a;
  color: #e6e6e6;
}

.archivo-black-regular {
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
}
